/* Customize the label (the container) */
.container {
  display: inline;
  position: relative;
  padding-left: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.phenotypeYES {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: blue;
}


/* On mouse-over, add a grey background color */
.phenotypeYES:hover {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.phenotypeYES input:checked {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.phenotypeYES:after{
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.phenotypeYES:checked {
  display: block;
}

/* Style the indicator (dot/circle) */
.phenotypeYES:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
} 