
<table>
	<c:forEach items="${ticks}" var="tick">
		<tr valign="top">
			<td><input style="visibility: visible; display:inline" class="phenoradio" type="checkbox"
				id="YES:${tick.hpoLocalName}"
				name="${tick.hpoParent}/${tick.hpoLocalName}" value="YES"
				onclick="setPhenotype('${tick.hpoLocalName}', 'YES', this); clickedYESButton('${tick.hpoLocalName}'); expandClass('${tick.hpoParent}', '${tick.hpoLocalName}')" />
			<input style="visibility: hidden; display:none" class="phenoradio" type="checkbox"
				checked
				id="NA:${tick.hpoLocalName}"
				name="${tick.hpoParent}/${tick.hpoLocalName}" value="N/A"
				checked
				onclick="setPhenotype('${tick.hpoLocalName}', 'NA', this)'); clickedNAButton('${tick.hpoLocalName}')" />
			</td>
			
			<td><c:if test="${tick.hasSubclasses}">
					<button type="button" id="expand:${tick.hpoLocalName}"
						onclick="expandClass('${tick.hpoParent}', '${tick.hpoLocalName}', this)">+</button>
				</c:if></td>

			<td id="ROW:${tick.hpoLocalName}" style="border-style:none;border-width:5px;border-color:red"><a href="${tick.infopageurl}">${tick.label}</a></td>
			<td id="content:${tick.hpoParent}/${tick.hpoLocalName}"></td>
		</tr>
	</c:forEach>
</table>
